.siedBarPhoto{
    text-align: center;
    width: 100%;
    background-color:#0d2f47
}
  .siedBarPhoto img {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height: 70px;
    padding: 0;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    object-fit: cover;
    overflow: hidden;
  }
  .todo-list li {
    position: relative;
    padding: 7px 35px;
    line-height: 21px;
    font-size: 12px;
    height: 4rem;
}
.active{
  background-color: #BFA947;
  color:#0d2f47;
  
  border: 1px solid;
  border-radius: 5px;
}
.siedBar.rightsideFav {
  margin-bottom: 10px;
  height: 51rem;
  max-height: 60rem;
  border-radius: 0 0 10px 10px;
}