<!--component html goes here -->
<!-- <section class="content"> -->
<section >
  <div class="container">
    <div class="col-xs-12 text-center margin-v-20">
      <img class="center-block register-logo" alt="logo_img" src="assets/img/logo/logo.png" width="">
    </div>
    <div class="col-xs-12 text-center margin-v-20">
      <h3>{{'account.re-password'|translate}}</h3>
    </div>
    <div class="col-xs-3"> </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6 col-sm-offset-6 col-sm-offset-0 account  text-center margin-v-20">
      <div class="alert alert-success alert-dismissable" *ngIf="resetSuccess &&resultViewModel && resultViewModel?.Data == true">
        <h3>{{'account.reset-success'|translate}}</h3>
      </div>
      <div class="alert alert-danger alert-dismissable" *ngIf="resetFailed">
        <h3>{{'account.reset-failed'|translate}}</h3>
      </div>
      <div class="alert alert-danger alert-dismissable" *ngIf="resultViewModel &&resultViewModel?.Data==false">
        <h3>{{resultViewModel.Message}}</h3>
      </div>
      <form novalidate [formGroup]="form" (ngSubmit)="save()">
        <!-- <div class="form-group has-feedback" [ngClass]="{'has-error':(!form.controls['OldPassword'].valid && form.controls['OldPassword'].touched)}">
          <input type="password" class="form-control" formControlName="OldPassword"
            reverse="true" placeholder=" كلمة المرور القديمة" />
          <span class="form-control-feedback"><i class="fa fa-lock"></i></span>
          <div class="text-left  text-danger" *ngIf="!form.controls['OldPassword'].valid && (form.controls['OldPassword'].touched|| form.controls['OldPassword'].dirty )  ">
            <div *ngIf="form.controls['OldPassword'].hasError('required')">{{'shared.validation.required'|translate}}</div>
            <div *ngIf="form.controls['OldPassword'].hasError('minlength')">{{'shared.validation.password-min-length'|translate}}</div>
            <div *ngIf="form.controls['OldPassword'].hasError('maxlength')">{{'shared.validation.password-max-length'|translate}}</div>
          </div>
        </div> -->
        <br><br>
        <div class="form-group has-feedback" [ngClass]="{'has-error':(!form.controls['Password'].valid && form.controls['Password'].touched)}">
          <input type="password" class="form-control" formControlName="Password" validateEqual="ConfirmPassword"
            reverse="true" placeholder="{{'account.new-password'|translate}}" />
          <span class="form-control-feedback"><i class="fa fa-lock"></i></span>
          <div class="text-left  text-danger" *ngIf="!form.controls['Password'].valid && (form.controls['Password'].touched|| form.controls['Password'].dirty )  ">
            <div *ngIf="form.controls['Password'].hasError('required')">{{'shared.validation.required'|translate}}</div>
            <div *ngIf="form.controls['Password'].hasError('minlength')">{{'shared.validation.password-min-length'|translate}}</div>
            <div *ngIf="form.controls['Password'].hasError('maxlength')">{{'shared.validation.password-max-length'|translate}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" [ngClass]="{'has-error':(!form.controls['ConfirmPassword'].valid && form.controls['ConfirmPassword'].touched)}">
          <input type="password" class="form-control" formControlName="ConfirmPassword" validateEqual="Password"
            placeholder="{{'account.confirm-password'|translate}}" />
          <span class="form-control-feedback"><i class="fa fa-lock"></i></span>
          <div class="text-left  text-danger" *ngIf="!form.controls['ConfirmPassword'].valid && (form.controls['ConfirmPassword'].touched|| form.controls['ConfirmPassword'].dirty )  ">
            {{'shared.validation.not-identical-password'|translate}}
            <div *ngIf="form.controls['ConfirmPassword'].hasError('required')">{{'shared.validation.required'|translate}}</div>
            <div *ngIf="form.controls['ConfirmPassword'].hasError('validateEqual')">{{'shared.validation.re-enter-passowrd'|translate}}</div>
            <div *ngIf="form.controls['ConfirmPassword'].hasError('equalTo')">{{'shared.validation.re-enter-passowrd'|translate}}</div>
            
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <button [disabled]="!form.valid" [hidden]="processing">{{'account.re-password'|translate}}</button>
          <img [hidden]="!processing" src="/assets/images/loader2.gif" width="40" height="40">
        </div>
        <!-- <div class="col-md-6 col-sm-6 col-xs-12">
          <span class="btn"><a style="color:blue;padding-top:16px;" routerLink='/login'>{{'account.login'|translate}}</a></span>
        </div> -->
        <!-- </div> -->
      </form>
    </div>
    <div class="col-xs-3"> </div>
  </div>
</section>
<!-- </section> -->