<!-------------------------------Start Prodect-------------------------------------------->
<!-- <ngx-spinner></ngx-spinner> -->
<simple-notifications></simple-notifications>
<ng-snotify></ng-snotify>
<div class="container-fluid" style="margin-top: 13rem;">
  <div class="row fullscreen d-flex a">
    <div class="header text-center col-12">
      <h2 class="mb-md-4 text-uppercase"><span>{{'product.Products'|translate}}</span></h2>
      <p>{{'product.Home/products'|translate}}</p>
      <div>

        <form action="">
          <div class="form-row justify-content-center wow fadeInUp" data-wow-delay="1s">
            <div class="col-md-4 p-0">
              <div class="form-group  has-search">
                <input #term type="text" name="keyword" id="keyword" class="form-control rounded-0"
                  placeholder="{{'shared.SearchKeyword'|translate}}">
              </div>
            </div>
            <div class="col-md-3 p-0">
              <div class="form-group">
                <select class="form-control rounded-0">

                  <option value="-1">{{'shared.all-department'|translate}}</option>

                  <option *ngFor="let dept of departmentsList | async">{{dept.Name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-auto p-0">

              <button class="btn btn-primary gold text-white" type="submit" (click)="search()" id="button-addon2"
                style="height: 4rem;"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <section>
    <div class="container">

      <div class="row">
        <div class="col-xs-12 margin-v-20">
          <ul class=" margin-v-20">
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="col-xs-12 siedBar search">
            <div class="row">
              <div class="col-12 p-0">
                <div class="header-title">
                  <h1>{{'product.Filter'|translate}}</h1>
                </div>
              </div>
            </div><br>


            <div class="row">

              <div class="col-12">
                <h4>{{'product.FilterByPrice' |translate}}</h4>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12" style=" text-align: initial;">
                <label for="label-name">{{'product.min'|translate}}</label>
                <input (change)="searchbyCoin()" type="text" class="SidebarInput form-control" id="label-name" required
                  autofocus>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12" style="text-align: initial;">
                <label for="label-name">{{'product.max'|translate}}</label>
                <input (change)="searchbyCoin()" type="text" class="SidebarInput form-control" id="label-name" required
                  autofocus>
              </div>
              <div class="col-12">
                <h4>{{'product.category' |translate}}</h4>
              </div>
              <div class="checkbox-list">
                <ul class="todo-list">

                  <li class="done" *ngFor="let dept of departmentsList | async">
                    <input class="SidebarInput" (change)="searchWithoutCoin()" type="checkbox" id="dept_{{dept.ID}}" />
                    <label class="toggle"></label>
                    {{dept.Name}}
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <h4>{{'shared.brand'|translate}}</h4>
              </div>
              <div class="checkbox-list">
                <ul class="todo-list">

                  <li class="done" *ngFor="let brand of brandsList | async">
                    <input (change)="searchWithoutCoin()" [(ngModel)]="brand.Selected" type="checkbox"
                      id="brand_{{brand.ID}}" />
                    <label class="toggle" for="brand_{{brand.ID}}"></label>
                    {{brand.Name}}

                  </li>
                </ul>
              </div>

            </div>
          </div>



        </div>
        <!-- Right Side End -->

        <!-- Main Side Start -->

        <div class="col-lg-9 col-md-9 col-sm- col-xs-12 listCategoryProduct">

          <div class="row">
            <div class=" col-sm-4 thumbnail product-grid2 listPris p-0" *ngFor="let product of products | async">
              <div class="product-image2 ">
                <a (click)="sendProduct(product)">
                  <img class="productImage image img-fluid " [alt]="product.Name" src="{{product.Image}}"
                    onError="this.src='../../../assets/images/nophoto.png';"></a>


              </div>


              <div class="img__overlay">
                <ul class="social">
                  <li><a text-center (click)="ProductDetails(product.ID)"><i class=" icon fa fa-eye"></i></a></li><br>

                  <li>
                    <button text-center (click)="addToWishList(product)" *ngIf="!product.AddedToWishlist">
                      <i class="fa fa-heart"></i>
                    </button>
                  </li><br>
                  <li>
                    <button style=" text-align: center; color: #fff;
                                                background-color: #BFA947;
                                                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"
                      *ngIf="product.AddedToWishlist" (click)="removeFromWishList(product)">
                      <span>
                        <i class=" fa fa-heart"></i>
                      </span>
                    </button>
                  </li><br>
                  <div>
                    <li>
                      <button *ngIf="!product.AddedToCart" text-center (click)="addToCart(product)">
                        <span>
                          <i class="fa fa-shopping-cart "></i>
                        </span>
                      </button>
                    </li><br>
                    <li>
                      <button style=" text-align: center; color: #fff;
                                                  background-color: #BFA947;
                                                  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"
                        *ngIf="product.AddedToCart" (click)="removeFromCart(product)">
                        <span> <i class="fa fa-shopping-cart "></i> </span>
                      </button>
                    </li>
                  </div><br>

                </ul>
              </div>
              <div class=" text-center">
                <div class="col-12">

                  <!-- <div class="text-center">
                    <product-rating [value]="product.RatingAvg"></product-rating>
                  </div> -->
                  <h3 [routerLink]="product.ProductUrl" class="title myproduct">
                    {{product.Name}}</h3><br>
                  <p>
                    <i class="far fa-money-bill-alt priceIcon"></i>&nbsp;{{product.Price}}&nbsp;{{'shared.SAR'|translate}}
                  </p><br>
                  
                  <div *ngIf="product.Discount>0" class="discount">
                    <span class="btn btn-danger percintageBTN"><span>{{product.Discount}}%</span></span>
                  </div>
                  <br>
                </div>

              </div>
            </div>





          </div>
        </div>
        <!-- Main Side End -->
      </div>
    </div>
  </section>
</section>
<!-------------------------------End Prodect---------------------------------------------->