
<section class="content" style="margin-top: 16rem;">
    <div class="container">
      <div class="row margin-v-20">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <user-side-menu></user-side-menu>
        </div>
        <!-- <div class="col-xs-3"> </div> -->
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
          <div class="row productFilter clearfix">
              <div class="pull-left">
              <h3>{{'shared.change-password'|translate}}</h3>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <form novalidate [formGroup]="form" (ngSubmit)="save()">
                <div class="form-group has-feedback" [ngClass]="{'has-error':(!form.controls['OldPassword'].valid && form.controls['OldPassword'].touched)}">
                  <input type="password" class="form-control" formControlName="OldPassword" reverse="true" placeholder="{{'account.old-password'|translate}}" />
                  <!-- <span class="form-control-feedback">
                    <i class="fa fa-lock"></i>
                  </span> -->
                  <div class="text-left  text-danger" *ngIf="!form.controls['OldPassword'].valid && (form.controls['OldPassword'].touched|| form.controls['OldPassword'].dirty )  ">
                    <div *ngIf="form.controls['OldPassword'].hasError('required')">{{'shared.validation.required'|translate}}</div>
                    <div *ngIf="form.controls['OldPassword'].hasError('minlength')">{{'shared.validation.password-min-length'|translate}}</div>
                    <div *ngIf="form.controls['OldPassword'].hasError('maxlength')">{{'shared.validation.password-max-length'|translate}}</div>
                  </div>
                </div>

                <div class="form-group has-feedback" [ngClass]="{'has-error':!form.controls['NewPassword'].valid && form.controls['NewPassword'].touched}">
                  <input type="password" class="form-control" formControlName="NewPassword" reverse="true" placeholder="{{'account.new-password'|translate}}" />
                  <!-- <span class="form-control-feedback">
                    <i class="fa fa-lock"></i>
                  </span> -->
                  <div class="text-left  text-danger" *ngIf="!form.controls['NewPassword'].valid && (form.controls['NewPassword'].touched|| form.controls['NewPassword'].dirty )  ">
                    <div *ngIf="form.controls['NewPassword'].hasError('required')">{{'shared.validation.required'|translate}}</div>
                    <div *ngIf="form.controls['NewPassword'].hasError('minlength')">{{'shared.validation.password-min-length'|translate}}</div>
                    <div *ngIf="form.controls['NewPassword'].hasError('maxlength')">{{'shared.validation.password-max-length'|translate}}</div>
                  </div>
                </div>
                <div class="form-group has-feedback" [ngClass]="{'has-error':(!form.controls['ConfirmPassword'].valid &&form.controls['ConfirmPassword'].touched)}">
                  <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="{{'account.confirm-password'|translate}}" />
                  <!-- <span class="form-control-feedback">
                    <i class="fa fa-lock"></i>
                  </span> -->
                  <!-- <div *ngIf="form.get('equalityPass.ConfirmPassword').touched">test</div> -->
                  <div class="text-left  text-danger" *ngIf="(form.controls['ConfirmPassword'].touched ||
                    form.controls['ConfirmPassword'].dirty)  ">
                    <div class="text-left  text-danger" *ngIf="form.controls['ConfirmPassword'].hasError('required')">{{'shared.validation.required'|translate}}</div>
                    <div class="text-left  text-danger" *ngIf="form.controls['ConfirmPassword'].hasError('equalTo')">
                      {{'shared.validation.not-identical-password'|translate}}
                    </div>
                  </div>
                  <!-- </div> 
            

              <div class="col-md-12 col-sm-12 col-xs-12 text-right padding-v-10">
                <!-- <span>{{'account.have-account'|translate}} <a style="color:blue" routerLink='/login'>{{'account.login'|translate}}</a></span>
                &nbsp; -->
                <div class="col-md-12 col-sm-12 col-xs-12 text-right ">
                  <button class="btn btn-primary gold text-white "[disabled]="!form.valid" style="background:#BFA947">
                    {{'shared.change-password'|translate}}</button>
                    </div>
                </div>
              </form>
              <br>
              <br>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-3"> </div> -->
      </div>
    </div>
</section>