<div class="container-fluid" style="margin-top: 13rem;">
    <div class="row fullscreen d-flex ">
        <div class="header text-center col-12">
          <h2 class="mb-md-4 text-uppercase"><span>{{'account.re-password'|translate}}</span></h2>
          <p>{{'account.Home/re-password'|translate}}</p><br>
        </div>
        <div class="col-12" style="text-align: -webkit-center;text-align: -moz-center;">
            <br><br>
          <div  class="col-xs-12 text-center margin-v-20"  *ngIf="resultViewModel">
            <div class="alert alert-success" *ngIf="resultViewModel.Success">
              <h4>{{resultViewModel.Message}}</h4>
            </div>

            <div class="alert alert-danger" *ngIf="!resultViewModel.Success">
              <h4>{{resultViewModel.Message}}</h4>
            </div>
          </div>
          <form novalidate [formGroup]="form" (ngSubmit)="save()">

            <div class="form-group has-feedback" [ngClass]="{'has-error':(!form.controls['Email'].valid && form.controls['Email'].touched)}">
              <input type="text" class="form-control" formControlName="Email" placeholder="{{'account.email'|translate}}" />
              <div class="text-left text-danger" *ngIf="!form.controls['Email'].valid && (form.controls['Email'].touched|| form.controls['Email'].dirty )  ">
                <div *ngIf="form.controls['Email'].hasError('required')">{{'shared.validation.required'|translate}}</div>
                <div *ngIf="form.controls['Email'].hasError('pattern')&&!form.controls['Email'].hasError('required') ">{{'shared.validation.invalid-email'|translate}}</div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: initial;">
              <button [disabled]="!form.valid" class="btn btn-primary reset" *ngIf="!processing">
                <p>{{'account.re-password'|translate}}</p>
              </button>
              <img [hidden]="!processing" src="/assets/images/loader2.gif" width="40" height="40">
            </div>
          </form>
    </div>
  </div><br>
</div>