<section class="home_banner">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center">
            <div class="search m-auto">
                <h1 class="animated fadeInUp" data-wow-delay="0.5s" style="line-height: 0.9;">MAKE YOUR HOME A PIECE OF
                    ART
                    <span>Inspired by</span>
                </h1>
                <h3>great design</h3>
                <!-- <form action="">
                    <div class="form-row justify-content-center wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-6 p-0">
                            <div class="form-group  has-search">
                                <input [(ngModel)]="searchKeyword" #term type="text" name="keyword" id="keyword"
                                    class="form-control rounded-0" placeholder="{{'shared.SearchKeyword'|translate}}">
                            </div>
                        </div>
                        <div class="col-md-3 p-0">
                            <div class="form-group">
                                <select name="category" class="form-control rounded-0" [(ngModel)]="typeID">
                     
                                    <option value="-1">{{'shared.all-department'|translate}}</option>

                                    <option *ngFor="let dept of departmentsList" [value]="dept.ID">{{dept.Name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto p-0">

                            <button class="btn btn-primary gold text-white" type="submit" (click)="search(term.value)"
                                id="button-addon2"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>

</section>